@font-face {
    font-family: 'Montserrat-Regular';
    src: url("../fonts/Montserrat-Regular.woff2") format('woff2');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url("../fonts/Montserrat-Bold.woff2") format('woff2');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url("../fonts/Montserrat-Light.woff2") format('woff2');
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url("../fonts/Montserrat-Italic.woff2") format('woff2');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url("../fonts/Montserrat-SemiBold.woff2") format('woff2');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url("../fonts/Montserrat-ExtraBold.woff2") format('woff2');
}

svg{
    shape-rendering: crispEdges;
    image-rendering: pixelated;
}

html{
    overflow-x: hidden !important;
}

body{
    background-color: #000000;
    font-family: 'Montserrat-Regular';
    user-select: none;
    overflow-x: hidden !important;
}

/* CLASSES */

.montserrat-bold{
    font-family: 'Montserrat-Bold';
}

/* VSL SECTION */

#parallax{
    position: relative;
}

#parallax::before {
    background-color: #140624ff;
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: linear-gradient(to bottom,#000000,rgba(20, 6, 36, 0.400),rgba(20, 6, 36, 0.266)), linear-gradient(to right, #0700c9,#000, #5905b3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1; /* Mantém atrás do conteúdo do #parallax */
}

#homem-direito{
    position: absolute;
    height: 100vh;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

#homem-esquerdo{
    position: absolute;
    height: 100vh;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

.navbar{
    background: rgba(20, 15, 30, 0.065); 
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#navLogo{
    font-family: 'Montserrat-Light';
    color: #fff;
    font-size: 25px;
    width: 30px;
}

.nav-item{
    padding: 0px 10px;
}

.nav-link:link{
    color: #dcdcdc !important;
}
.nav-link:visited{
    color: #dcdcdc !important;
}
.nav-link:hover{
    color: #fff !important;
}
.nav-link:active{
    color: #fff !important;
}

#navBtn{
    background: linear-gradient(to right, #5410a0, #bc36f7);
    border: none;
    padding: 9px 27px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#navBtn:hover {
    transform: scale(1.05);
}

#headlineTxt{
    color: transparent;    
    background: linear-gradient(to right,#00eed6,#d400ff,#4d91e7ff,#00eed6);
    -webkit-background-clip: text;
    background-size: 200% 100%;
    background-clip: text;
    font-weight: bold;
    max-width: 1000px;
    line-height: 1.3;
    word-spacing: 4px;
    animation: moveGradient 5s infinite linear;
}

@keyframes moveGradient {
    0% { background-position: 100% 50%; }
    100% { background-position: -100% 50%; }
}

.subtitle{
    color: #fff;
    font-size: 15.4px;
    line-height: 1.5;
}

#film{

    position: relative;
    background-image: url("../images/screen.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00000000;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    border-radius: 40px;
    overflow: visible;
    pointer-events: none;
}

#film::before {
    font-family: 'bodoni';
    content: "";
    position: absolute;
    top: -2px; left: -2px; right: -2px; bottom: -2px;
    background: linear-gradient(to right, #b90effff,#00eed6ff);
    border-radius: 40px;
    filter: blur(5px);
    z-index: -1;
}

#top-protection{
    content: "";
    position: absolute;
    width: 100%;
    max-width: 800px;
    height: 70px;
    background-color: transparent;
}

#bottom-protection{
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    max-width: 800px;
    height: 70px;
    background-color: transparent;
}

#kw{
    font-size: clamp(18px, 1.5vw, 24px);
    letter-spacing: 0.2px;
    color: #fff;
    transform: translateY(7px);
    white-space: nowrap;
    animation: kwSize 3s linear infinite alternate;
}

@keyframes kwSize{
    from{
        font-size: clamp(18px, 2.5vw, 25px);
    }to{
        font-size: clamp(20px, 2.8vw, 28px);
    }
}

.keep-watching{
    display: none;
}

#cw{
    font-size: clamp(18px, 1.5vw, 24px);
    letter-spacing: 0.2px;
    color: #fff;
    transform: translateY(7px);
    white-space: nowrap;
}

#playButton{
    width: 45px;
}

.video{
    border-radius: 40px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

#myPlayer{
    
}

.btn{
    background: linear-gradient(to right, #5410a0, #bc36f7);
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
    color: #fff;
}

/* HISTORY SECTION */

#history-section{
    background: linear-gradient(to right, #00000080,#00000017,#00000080),linear-gradient(to bottom, #000,rgb(19, 0, 32));
}

.txt1{
    font-family: 'Montserrat-Regular';
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.bgHighlight{
    background-color: #fff;
    color: #000;
    font-family: 'Montserrat-Bold';
    padding: 2px 5px;
}

#historyTitle{
    font-family: 'Montserrat-ExtraBold';
    color: transparent;
    background: linear-gradient(to right,#a143dfff,#5e56e7ff,#23c3e2ff,#23c3e2ff);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    line-height: 1.3;
    word-spacing: 4px;
}

#historyTitleNeon{
    position: relative;
    color: #03ffdf;
    border-radius: 20px;
}

#historyTitleNeon::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 50%;
    min-width: 80px;
    min-height: 25px;
    background: inherit;
    background-color: #00ece1ff;
    filter: blur(40px);
    z-index: -1;
    border-radius: 10px;
}

.cardHistory{
    display: flex;
    flex-direction: column;
    color: #fff;
    max-width: 370px;
    min-width: 370px;
    height: 230px;
    background: linear-gradient(to right,#220042ff,#000f35ff);
    border-radius: 20px;
    padding: 30px 25px;
}

.historySubtitle{
    font-family: 'Montserrat-Bold';
    color: transparent;
    background: linear-gradient(to right,#8f22ffff,rgb(60, 184, 255));
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    line-height: 1.3;
    word-spacing: 3px;
    font-size: 25px;
    padding-bottom: 10px;
}

@keyframes grow{
    from{
        width: 45px;
    }to{
        width: 55px;
    }
}

@keyframes shrink{
    from{
        width: 60px;
    }to{
        width: 50px;
    }
}

@keyframes growFont{
    from{
        font-size: clamp(18px, 1.5vw, 24px);;
    }to{
        font-size: clamp(20px, 2.5vw, 26px);;
    }
}

@keyframes shrinkFont{
    from{
        font-size: clamp(20px, 2.5vw, 26px);;
    }to{
        font-size: clamp(18px, 1.5vw, 24px);;
    }
}

/* SECTION BENEFITS */

#beneficios-do-dvim{
    position: relative;
    background-image: linear-gradient(to bottom,#000000bc,#1000416b,#1a0028ff 90%,#000);
}

#beneficios-do-dvim::before{
    content: "";
    position: absolute;
    background-image: url('../images/benefits-bg-2.png');
    background-size: cover;
    background-position: center;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
}

#left-shine{
    position: absolute;
    top: 50%;
    left: 50px;
    width: 400px;
    transform: translate(0%,-60%);
}

#right-shine{
    position: absolute;
    top: 50%;
    right: 20px;
    width: 400px;
    transform: translate(0%,-60%);
}

#benefitsTitle{
    font-family: 'Montserrat-Bold';
    color: transparent;
    background: linear-gradient(to right,#9d23ff 14%, #0ae1f8);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    line-height: 1.3;
    word-spacing: 4px;
    display: inline-block;
}

.benefitsList{
    list-style: none; /* Remove os marcadores padrão */
    padding-left: 20px; /* Ajusta o espaço para os ícones */
    border-left: 2px solid #714ebcff;
}

.benefits-item{
    font-family: 'Montserrat-SemiBold';
    white-space: nowrap;
    color: #17f8ffff;
    display: flex;
    align-items: center;
    background-image: url('../images/list-icon.png'); /* Define a imagem como marcador */
    height: 50px;
    background-repeat: no-repeat;
    background-position: 0 50%; /* Ajusta a posição (esquerda, centralizado verticalmente) */
    padding-left: 70px;
}

#left-controller{
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-50%,-35%);
}

#right-controller{
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(50%,-35%);
}

#left-controller-small{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 42%;
    transform: translate(0%,-30%);
}
#right-controller-small{
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 42%;
    transform: translate(0%,-30%);
}

#benefitsSmoke{
    position: absolute;
    width: 100%;
    bottom: 0px;
    transform: translate(0px,45%);
    z-index: 1;
}


/* SECTION EXAMPLES */

.item-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 50px;
}
.title-carousel-item{    
    font-family: 'Montserrat-Light';
    font-size: 19px;
    color: #ffffff;
}

#exemplos-de-musicas{
    position: relative;
    background-image: linear-gradient(to bottom,#000 120px,#00000020 80%,#0000009c),linear-gradient(to right,#000,#00000000,#000000);
}
#exemplos-de-musicas::before{
    content: "";
    position: absolute;
    background-image: url('../images/tela-de-linho.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
}

#examplesTitleBg{
    display: flex;
    position: relative;
    align-items: center;
    background-image: url('../images/examples-title-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px 0px;
    padding: 10px 20px;
    border-radius: 40px;
}

#examplesTitle{
    position: relative;
    font-family: 'Montserrat-Bold';
    margin: 0px 0px;
    color: transparent;
    background: linear-gradient(to right,#ce1eff 14%, #28e6ff 80%);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    line-height: 1.3;
    word-spacing: 4px;
    /* Faz o gradiente encaixar exatamente no texto */
    background-size: 100% auto;
    background-position: center;
    display: inline-block; /* Ajusta a largura do elemento ao tamanho do texto, evitando espaços extras. */
}

#historySubtitle{
    font-family: 'Montserrat-Regular';
    margin: 20px 0px;
    color: transparent;
    background: linear-gradient(to right,#bd53ffff, #38fff0ff);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 19px;
    text-align: center;
}

@keyframes opacity0{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}

/* GARANTIA */

#garantia{
    background-image: url('../images/fundo-tela-garantia.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 0px !important;
}

#cardGarantia{
    position: relative;
    background-image: url('../images/fundo-card-garantia.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 900px;
    border-radius: 50px;
}

#titleGarantia{
    color: #fff;
    text-align: center;
    font-size: 19px;
}

#txtGarantia{
    font-family: 'Montserrat-SemiBold';
    color: transparent;
    background: linear-gradient(to right,#ce1eff, #28e6ff);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    font-size: 19px;
    padding-top: 10px;
    padding-bottom: 30px;
    /* Faz o gradiente encaixar exatamente no texto */
    background-size: 100% auto;
    background-position: center;
}

#efeitoEsquerdoGarantia{
    position: absolute;
    width: 80px;
    top: 15%;
    left: 5%;
}

#efeitoDireitoGarantia{
    position: absolute;
    width: 80px;
    top: 15%;
    right: 5%;
}


/* BÔNUS */

#bonus{
    background-image: url("../images/background-oferta.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#bonusTitle{
    position: relative;
    font-family: 'Montserrat-ExtraBold';
    margin: 0px 0px;
    color: transparent;
    background: linear-gradient(to right,#ce1eff 14%, #28e6ff 80%);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    line-height: 1.3;
    font-size: 40px;
    word-spacing: 4px;
    /* Faz o gradiente encaixar exatamente no texto */
    background-size: 100% auto;
    background-position: center;
    display: inline-block; /* Ajusta a largura do elemento ao tamanho do texto, evitando espaços extras. */
}

/* ACORDO */

#comprar{
    background-image: url("../images/background-acordo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#acordoTitle{
    position: relative;
    font-family: 'Montserrat-SemiBold';
    margin: 0px 0px;
    color: transparent;
    background: linear-gradient(to right,#ec00d4ff, #f01bffff, rgb(0, 255, 242) 40%, rgb(9, 196, 206) 90%);
    max-width: 700px;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    line-height: 1.3;
    font-size: 40px;
    word-spacing: 4px;
    /* Faz o gradiente encaixar exatamente no texto */
    background-size: 100% auto;
    background-position: center;
    display: inline-block; /* Ajusta a largura do elemento ao tamanho do texto, evitando espaços extras. */
}

#listaMateriais{
    position: relative;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

#listaMateriais::before{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(to right, #ff00cc, #3333ff);
    z-index: -1;
    border-radius: 12px;
}

#listaMateriais:hover{
    font-family: 'Montserrat-SemiBold';
    font-size: 17px;
}

#btnAdquirir{
    background-color: transparent;
    color: #fff;
    outline: none;
    border: none;
}

#txtAcordo{
    font-family: 'Montserrat-Regular'; 
    margin-top: -35px;
    color: #fff;
    max-width: 700px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
}

/* Q&A */

#qaTitle{
    font-family: 'Montserrat-ExtraBold';
    color: transparent;
    background: linear-gradient(to right,#ce1eff, #28e6ff);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    font-size: 35px;
    /* Faz o gradiente encaixar exatamente no texto */
    background-size: 100% auto;
    background-position: center;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block; /* Ajusta a largura do elemento ao tamanho do texto, evitando espaços extras. */
}

.accordion-button{
    border-radius: 30px !important;
    background: linear-gradient(to right,#3d0067ff,#000d46ff);
    border-radius: 30px;
    border: none;
}

.accordion-button:focus{
    box-shadow: 0px 4px 10px -5px #747077 !important;
    background: linear-gradient(to right,rgb(105, 0, 176),rgb(0, 34, 186)) !important;
}

.accordion-button-txt{
    font-family: 'Montserrat-SemiBold';
    color: transparent;
    background: linear-gradient(to right,#f126f3ff, #1dd2f1ff);
    -webkit-background-clip: text;
    background-clip: text;
    margin: 0px 0px;
    padding: 0px 20px;
}

.accordion-body{
    color: #2c005e;
}

/* FOOTER */
#background-footer{
    background-image: linear-gradient(to bottom, #00000042,rgba(255, 0, 0, 0) 50%);
    background-color: #180340ff;
}

#col-1-footer{
    background: linear-gradient(to bottom, #00000042,rgba(255, 0, 0, 0) 50%),linear-gradient(to right, #180340ff,#060c71ff,#1c034cff);
}

#col-2-footer{
    background: linear-gradient(to bottom, #00000042,rgba(255, 0, 0, 0) 50%),linear-gradient(to right, #1c034cff,#140337ff,#1c034cff);
}

#col-3-footer{
    background: linear-gradient(to bottom, #00000042,rgba(255, 0, 0, 0) 50%),linear-gradient(to right, #1c034cff,#060c71ff,#180340ff);
}

#companyName{
    font-family: 'Montserrat-Light';
    color: transparent;
    background: linear-gradient(to right,#f71aff, #28e6ff);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 20px;
    /* Faz o gradiente encaixar exatamente no texto */
    background-size: 100% auto;
    background-position: center;
    padding-left: 0px;
    padding-right: 0px;
}

#txtFooter{
    font-family: 'Montserrat-Regular';
    color: transparent;
    background: linear-gradient(to right,#f71aff, #28e6ff);
    -webkit-background-clip: text;
    background-clip: text;
    max-width: 500px;
    font-size: 18px;
    margin: 0px 0px;
    /* Faz o gradiente encaixar exatamente no texto */
    background-size: 100% auto;
    background-position: center;
    padding-left: 0px;
    padding-right: 0px;
}

@media (max-width: 1690px){
    #beneficios-do-dvim{
        margin-top: 50px;
        padding-top: 30px !important;
    }
    #left-controller{
        width: 28%;
        transform: translate(-10%,-40%);
    }
    #right-controller{
        width: 28%;
        transform: translate(10%,-40%);
    }
    #left-shine{
        width: 300px;
    }
    
    #right-shine{
        width: 300px;
    }
}

@media (max-width: 1200px){
    #beneficios-do-dvim{
        padding-top: 40px !important;
    }
    #left-controller{
        width: 40%;
        transform: translate(0%,-60%);
    }
    #right-controller{
        width: 40%;
        transform: translate(0%,-60%);
    }
    #left-shine{
        width: 200px;
        transform: translate(0%,-50%);
    }
    
    #right-shine{
        width: 200px;
        transform: translate(0%,-50%);
    }
}

@media (max-width: 992px) {
    #homem-direito{
        display: none;
    }
    #homem-esquerdo{
        display: none;
    }
    #left-shine{
        width: 150px;
        left: 30px;
    }
    #right-shine{
        width: 150px;
        right: 30px;
    }
    #benefitsSmoke{
        width: 140%;
    }
    #company-name{
        margin-top: 15px;
        margin-bottom: 8px;
    }
    #txtFooter{
        margin-top: 15px;
        margin-bottom: 0px;
    }
    #col-1-footer{
        background: none;
    }
    
    #col-2-footer{
        background: none;
    }
    
    #col-3-footer{
        background: none;
    }
    
}

@media (max-width: 767px){
    #left-controller{
        width: 50%;
        transform: translate(-10%,-60%);
    }
    #right-controller{
        width: 50%;
        transform: translate(10%,-60%);
    }
    #film{
        border-radius: 15px;
    }
    #film::before{
        border-radius: 15px;
    }
    .video{
        border-radius: 15px;
    }
    #left-shine{
        display: none;
    }
    #right-shine{
        display: none;
    }
    #benefitsTitle{
        background: linear-gradient(to bottom right,#9d23ff 20%, #0ae1f8 70%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
    #benefitsSmoke{
        height: 50%;
        transform: translate(0px,55%);
    }
    #txtAcordo{
        margin-top: 0px;
    }
}

@media (max-width: 596px){
    #beneficios-do-dvim{
        padding-top: 20px !important;
    }
    #left-controller{
        display: none;
    }
    #right-controller{
        display: none;
    }
    #left-controller-small{
        display: block;
    }
    #right-controller-small{
        display: block;
    }
    #exemplos-de-musicas{
        background-image: linear-gradient(to bottom,#000 80px,#00000020 70%,#0000009c);
    }
}

@media (max-width: 453px){
    .cardHistory{
        max-width: 340px;
        min-width: 340px;       
    }
    #examplesTitle{
        font-family: 'Montserrat-Bold';
        color: transparent;
        background: linear-gradient(to bottom right,#ce1eff 14%, #28e6ff 80%);
        -webkit-background-clip: text;
        background-clip: text;
    }
}

@media (max-width: 382px){
    .benefits-item{
        font-size: 13px;
    }
}