@font-face {
    font-family: 'Montserrat-Regular';
    src: url("../fonts/Montserrat-Regular.woff2") format('woff2');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url("../fonts/Montserrat-Bold.woff2") format('woff2');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url("../fonts/Montserrat-Light.woff2") format('woff2');
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url("../fonts/Montserrat-Italic.woff2") format('woff2');
}

svg{
    shape-rendering: crispEdges;
    image-rendering: pixelated;
}

body{
    background-color: #000000;
    font-family: 'Montserrat-Regular';
}

#parallax{
    position: relative;
}

#parallax::before {
    background-color: #140624ff;
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    /* background-image: url('../images/background-parallax.png'); */
    background-image: linear-gradient(to bottom,#000000,rgba(20, 6, 36, 0.400),rgba(20, 6, 36, 0.266)), linear-gradient(to right, #0700c9,#000, #5905b3);
    /* background-image: url('../images/background-start-page.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1; /* Mantém atrás do conteúdo do #parallax */
}

#homem-direito{
    position: absolute;
    height: 100vh;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}
#homem-esquerdo{
    position: absolute;
    height: 100vh;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

#navLogo{
    /* background: linear-gradient(to right,#7143d0,#4c6dc6ff,#00eed6,#3b69a3);
    -webkit-background-clip: text;
    background-clip: text; */
    font-family: 'Montserrat-Light';
    color: #fff;
    font-size: 25px;
    width: 30px;
    /* letter-spacing: 1px; */
}


#navBtn{
    background: linear-gradient(to right, #5410a0, #bc36f7);
    border: none;
    padding: 9px 27px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#navBtn:hover {
    transform: scale(1.05);
}

.nav-link{
    color: #fff;
}

.nav-item{
    padding: 0px 10px;
}

.navbar{
    background: rgba(20, 15, 30, 0.065); 
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#headlineTxt{
    color: transparent;    
    background: linear-gradient(to right,#00eed6,#d400ff,#4d91e7ff,#00eed6);
    -webkit-background-clip: text;
    background-size: 200% 100%;
    background-clip: text;
    font-weight: bold;
    max-width: 1000px;
    line-height: 1.3;
    word-spacing: 4px;
    animation: moveGradient 5s infinite linear;
}

@keyframes moveGradient {
    0% { background-position: 100% 50%; }
    100% { background-position: -100% 50%; }
}

.textCard{
    color: #fff;
    max-width: 300px;
}

#myPlayer{
    pointer-events: none;
}

.fundo-fosco{
    background-image: url('../images/fundo-fosco2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    border: 0.01px solid rgb(71, 71, 71);
    padding: 20px 20px;
    border-radius: 20px;
}

.titleBody{
    font-family: 'Montserrat-Bold';
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.txt1{
    /* color: transparent;
    background: linear-gradient(to right,#c973ff,rgb(107, 171, 255),#00eed6);
    -webkit-background-clip: text;
    background-clip: text; */
    font-family: 'Montserrat-Regular';
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.bgHighlight{
    background-color: #fff;
    color: #000;
    font-family: 'Montserrat-Bold';
    padding: 2px 5px;
}

.txt2{
    color: #1e0035;
    font-weight: 500;
    font-size: 40px;
}

.title{
    color: #1e0035;
    font-weight: 900;
    font-size: 40px;
}

.subtitle{
    color: #545158;
    font-size: 15.4px;
    line-height: 1.5;
}

.fw-700{
    font-weight: 700;
}

.btn{
    background: linear-gradient(to right, #5410a0, #bc36f7);
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
    color: #fff;
}

.purple{
    color: rgb(76, 0, 147);
}

.pink{
    color: #ffa8fb;
}

.bg-purple-blue{
    background: linear-gradient(to right,#1e0046,#09016e);
}

.light-purple{
    color: #f8eeff;
}

.accordion-button{
    background-color: #f8eeff;
    color: rgb(53, 0, 105);
    font-weight: 700;
}
.accordion-button:focus{
    box-shadow: none !important;
    outline: none !important;
    background-color: #ecd1ff !important;
}

.bg-light-purple{
    background-color: #f8eeff;
}

#playButton{
    width: 50px;
}

@keyframes grow{
    from{
        width: 50px;
    }to{
        width: 60px;
    }
}

@keyframes shrink{
    from{
        width: 60px;
    }to{
        width: 50px;
    }
}

@keyframes growFont{
    from{
        font-size: clamp(18px, 1.5vw, 24px);;
    }to{
        font-size: clamp(20px, 2.5vw, 26px);;
    }
}

@keyframes shrinkFont{
    from{
        font-size: clamp(20px, 2.5vw, 26px);;
    }to{
        font-size: clamp(18px, 1.5vw, 24px);;
    }
}

.keep-watching{
    display: none;
}

.video{
    border-radius: 40px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

/* box-shadow: 0px 0px 5px rgb(0, 0, 0); */
    /* z-index: 1; */

#film{
    position: relative;
    background-image: url("../images/screen.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00000000;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    border-radius: 40px;
    overflow: visible;

}

#film::before {
    font-family: 'bodoni';
    content: "";
    position: absolute;
    top: -2px; left: -2px; right: -2px; bottom: -2px;
    background: linear-gradient(to right, #b90effff,#00eed6ff);
    z-index: -1;
    border-radius: 40px;
    filter: blur(5px);
    z-index: -1;
}

#cw1{
    font-size: clamp(18px, 1.5vw, 24px);
    letter-spacing: 0.2px;
    color: #fff;
    transform: translateY(7px);
    white-space: nowrap;
}

#kw1{
    font-size: clamp(18px, 1.5vw, 24px);
    letter-spacing: 0.2px;
    color: #fff;
    transform: translateY(7px);
    white-space: nowrap;
    animation: kwSize 3s linear infinite alternate;
}

@keyframes kwSize{
    from{
        font-size: clamp(18px, 2.5vw, 25px);
    }to{
        font-size: clamp(20px, 2.8vw, 28px);
    }
}

@media (max-width: 992px) {
    #homem-direito{
        display: none;
    }
    #homem-esquerdo{
        display: none;
    }
}

@media (max-width: 767px){
    #film{
        border-radius: 15px;
    }
    #film::before{
        border-radius: 15px;
    }
}